<footer>
    <div class="footer-wrapper">
        <div class="ui secondary menu inverted">
            <p class="item">Enrique Pantoja &copy; 2020</p>
            <div class="right menu">
                <a class="item" href="/archive.html">
                    Latest Posts
                </a>
                <a class="item" href="https://twitter.com/squamatamagna">
                <i class="twitter link icon"></i>
                 </a>       
                </a>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/semantic.min.js"></script>
